[Unit]
Description=Connection service
After=syslog.target

[Service]
Type=dbus
BusName=net.connman
Restart=on-failure
ExecStart=/usr/local/sbin/connmand -n
StandardOutput=null

[Install]
WantedBy=multi-user.target
